.about-img img{
     height: 609px !important;
     width: 837px !important;
}.About-row{
 display: flex;
 justify-content: space-between; 
 margin-top: 50px
}.about-text h2{
  font-size: 50px;
    font-weight: 600;
    margin-top: 92px;
}.about-row1{
    background-color: rgb(255, 255, 255);
    height: 100px;
}.about-hightlight h4{
        color: #818286;
    font-size: 14px;
    font-weight: 500;

}.about-hightlight h5{
      font-size: 14px;
    color: #000000;
    font-weight: 500;
}.about-hightlight{
      display: flex;
    padding: 43px 77px;
    gap: 30px;
}.about-text p{
    margin-top: 50px;
    font-size: 15px;
}.about-row3{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 127px;
}.content-box{
        border: 2px solid #caccd5;
        height: 230px;
        width: 270px;
        border-radius: 5px;
       display: flex;
        justify-content: center;
        align-items: center;

}.section-box3{
 height: 375px;
 width: 100%;
}.sml-box1{
      height: 85px;
    width: 85px;
    background-color: #c7c9d2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}.sml-box2{
       height: 66px;
    width: 66px;
    background-color: #000000;
    border-radius: 50%;
}.icon-shop{
        color: #ffffff;
    padding: 9px 15px;
    font-size: 38px;
}.sm-content-box h4{
    font-size: 33px;
}.sm-content-box{
    display: flex;
    align-items: center;
    flex-direction: column;
}.content-box:hover{
    background-color: #DB4444;
}.sml-box1:hover{
    background-color:#f1948a ;
}.sml-box2:hover{
    background-color: #ffffff;
}.icon-shop:hover{
    color: #000000;
}.sm-content-box h4:hover{
    color: #ffffff;
}.sm-content-box p:hover{
  color: #ffffff;
}.about-row5{
    display: flex;
}.sml-desiger-box1{
    background-color: #caccd5;
}.about-row4{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;

}
.section-box4{
 height: 725px;
 width: 100%;
 max-width: 1200px;
 margin: 0 auto;

 
}.about-row4{
    display: flex;
    
    align-items: center;
    justify-content: space-between;
}.sml-desiger-box1{
      height: 564px;
    width: 370px;
    background-color: #ffffff;

}.designer-img img{
        height: 370px;
    width: 237px;
    margin-top: 30px;
}.designer-img{
    background-color: #F5F5F5;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  
}.sml-desiger-box1 h4{
        font-size: 33px;
    margin-top: 21px;
    font-weight: 400;
}.sml-desiger-box1 p{
    font-size: 15px;
       
}.icon-designer{
   display: flex;
    gap: 12px;
    margin-top: 14px;
    font-size: 20px;
}
.section-box5{
    height: 253px;
 width: 100%;
 max-width: 1200px;
 margin: 0 auto;
}.about-row5{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;

}
.service-box{
    height: 161px;
    width: 262px;
}.sm-section-box5{
    font-size: 22px;
}.service-icon{
    color: #ffffff;
    padding: 9px 15px;
    font-size: 38px;
}.sm-service-box{
    display: flex;
    align-items: center;
    flex-direction: column;
}.service-sml-box1{
      height: 85px;
    width: 85px;
    background-color: #c7c9d2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}.service-sml-box2{
       height: 66px;
    width: 66px;
    background-color: #000000;
    border-radius: 50%;
}.sm-service-box h4{
    font-size: 17px;
    margin-top: 19px;
}.sm-service-box p{
    font-size: 12px;
}