.contact-row1{
    background-color: rgb(255, 255, 255);
    height: 100px;
}.contact-hightlight h4{
        color: #818286;
    font-size: 14px;
    font-weight: 500;

}.contact-hightlight h5{
      font-size: 14px;
    color: #000000;
    font-weight: 500;
}.contact-hightlight{
      display: flex;
    padding: 43px 77px;
    gap: 30px;
}.contact-sml-call-box1{
  
    background-color: #ffffff;
       box-shadow: 0 0 6px rgb(90 87 87 / 18%); ;
    height: 403px;
    width: 340px;
    display: flex;
    justify-content: center;
  
}.contact-sml-call-box2{
        border: 3px solid black;
    height: 336px;
    width: 275px;
    margin-top: 33px;
}.call-box{
    height: 148px;
    width: 270px;
}.call-box2{
    display: flex;
}.call-box2 h4{
    font-size: 25px;
    margin-top: 10px;
    font-weight: 500;
    margin-left: 20px;

}
.mail-box{
     border: 2px solid rgb(30, 255, 0);
    height: 153px;
    width: 270px;
    margin-top: 20px;
}
.single-line{
 height: 11px;
    width: 270px;
    border-bottom:  3px solid #818286;
    margin-top: 0px;
   
}.sml-call-box{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: #DB4444;
}



.contact-row2{
    display: flex;
 justify-content: space-between; 
 margin-top: 50px
}.contact-big-box{
    border: 3px solid black;
    height: 419px;
    width: 826px;
}