.container-home{
    background-color: #ffffff;
    width: auto;
    height: 1082px;

}
.home-box{
 display: flex;
}.Side-bar{
    display: flex;
   width: 217px;
  
}.Side-bar-box{
    background-color: #FFFFFF;
    padding: 20px 30px;  
   border-right: 1px solid #D1D4DB;


}.fashion-list{
list-style: none;
    font-size: 15px;
    
    
}.hero-box{
    width: 892px;
 height: auto;
    background-color: black;
    margin-top: 40px;
    
}.hero-img img{
        height: 341px;
    width: 500px;
    /* padding: 30px 50px; */
    margin-top: 50px;
    /* margin-right: -57px; */
    margin-left: 181px;
}.hero-content{
    color: white;
}.hero-section{
    display: flex;
}